@import "bootstrap/scss/bootstrap";

.layout {
  min-width: 796px;
}

.query-patterns {
  margin-left: -1px; // make it look more concretely-attached

  .btn {
    min-height: 40px;
    width: 2.5rem;
  }
}
