$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap";

$inputHeight: 38px;

body {
  min-width: 800px; // this is not an arbitrary number; test changes on all browsers

  #app {
    .layout {
      height: 600px; // also not arbitrary; test everything
      overflow: hidden;
    }
  }
}

input[role="switch"]:hover {
  cursor: pointer;
}

input[type="text"] {
  min-height: $inputHeight;
}

.form-switch {
  margin-top: 0.25rem;
}

.fs-sm {
  font-size: 0.8rem;
}

.query-patterns {
  margin-left: -1px; // make it look more concretely-attached

  .btn {
    min-height: calc($inputHeight + 2px);
    width: 2.5rem;
  }
}

.rule-row-actions {
  .btn {
    min-height: calc($inputHeight + 2px);
    width: 2.5rem;
  }
}
