/**
 * Bootstrap configuration
 */
$enable-negative-margins: true;
$primary: #3366ff;
$tooltip-max-width: 300px;

@import "bootstrap/scss/bootstrap";

/**
 * Self-hosted app fonts
 */
@font-face {
  font-family: Inter;
  src: url("/assets/font/InterVariable.ttf");
}

$inputHeight: 38px;

html {
  &.layout__expanded {
    height: 100dvh;

    body,
    #app,
    .layout {
      height: 100% !important;
    }
  }
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  min-width: 800px; // this is not an arbitrary number; test changes on all browsers

  #app {
    .layout {
      height: 600px; // also not arbitrary; test everything
    }
  }
}

input[role="switch"]:hover {
  cursor: pointer;
}

input[type="text"] {
  min-height: $inputHeight;
}

.form-check {
  margin-bottom: 0;
}

.form-switch {
  margin-top: 0.25rem;
}

.fs-xs {
  font-size: 12px !important;
}

.fs-sm {
  font-size: 13.5px !important;
}

.fs-md {
  font-size: 20px !important;
}

.fs-lg {
  font-size: 24px !important;
}

.z-modal {
  z-index: $zindex-modal;
}

.z-popover {
  z-index: $zindex-popover;
}

.z-sticky {
  z-index: $zindex-sticky;
}

.z-toast {
  z-index: $zindex-toast;
}

@include media-breakpoint-up(xxl) {
  .rule-row-wrapper:nth-of-type(odd)::after {
    border-right: 1px solid $border-color;
    content: " ";
    display: inline-block;
    height: calc(100% + 1rem);
    position: absolute;
    right: 0;
    top: 0;
  }
}

.rule-row-actions {
  .btn {
    min-height: calc($inputHeight + 2px);
  }
}

.wrm-menu-item {
  &:active,
  &:hover,
  &:focus {
    background-color: $light-border-subtle !important;

    &.dark {
      background-color: $light-border-subtle-dark !important;
    }
  }

  transition: background-color 150ms;
}
