@import "bootstrap/scss/bootstrap";

.wrm-menu-item {
  &:active,
  &:hover,
  &:focus {
    background-color: $light-border-subtle !important;

    &.dark {
      background-color: $light-border-subtle-dark !important;
    }
  }

  transition: background-color 150ms;
}
