#query-input {
  .query-patterns {
    margin-left: -1px;
    margin-top: 1px;

    // transition properties
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 150ms;
    width: 0;

    &.queries-exist {
      height: 77px;
      opacity: 1;
      overflow: visible;
      width: 42px;
    }

    .btn {
      transition: opacity 150ms;
    }
  }
}
